/* reset*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;}

    
/*estilos generales*/
html{
    font-family: 'Comfortaa', cursive;
    background-color: #FDDADA;}

header{
    padding: 1px;
    height: 100px;
    text-align: right;
    background-color: palevioletred;}

.menu-color{
    background-color: #DB7093;}

li .color-link{
    color: #800050;}

li .color-link:hover{
    background-color: #FDDADA;}

a{
    text-decoration: none;
    color: linen;}

header nav{
    margin-top: 20px;}

header nav ul li{
    display: inline-block;
    background-color: lightpink;
    padding: 5px;
    margin: 3px;}

footer{
    background-color: palevioletred;
    text-align: center;
    height:25px;
    position: fixed; bottom: 0px ; width: 100%;}

/*estilos de home*/
.home{
    text-align: left;
    background-color: #FDDADA;}

main .contentMainHome{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    height: 300px;
}

main .indexh1{
    height: 50px;
    margin-left: 50px;
    padding-top: 25px;
    font-weight: bold;
    font-size: 40px;
    color: #800050;
}

main .indexh2{
    margin:50px;
    font-size: 30px;
    height: 50px;
    padding-top: 25px;
}

main section div .parrafoindex {
    margin: 50px;
    font-size: 25px;
    margin-top: 1px;
}

main section .imgHome{
    margin-right: 60px;
    padding: 10px;
    border: 3px dotted #800050;
}

/*estilos de about me*/
.mainAbout{
    background-color: #FDDADA;
}

main .abouth1{
    height: 50px;
    margin-left: 50px;
    padding-top: 25px;
    font-size: 30px;
    color: #800050;
}

main div .aboutP{
    font-size: 20px;
    margin: 50px;
}

/*estilos de projects*/
.mainProjects{
    background-color: #FDDADA;
}

main .projectsh1{
    height: 50px;
    margin-left: 50px;
    padding-top: 25px;
    font-size: 30px;
    color: #800050;
}

main .imgProjects{
    gap: 15px;
    border: 2px solid #8a019c;
}

/*Grids*/
.grillaProjects{
    justify-content: center;
}

.mainProjects .grillaProjects{
    display: grid;
    grid-template-columns: 35% 35%;
    grid-template-rows: 250px 250px;
    gap: 50px;
    height: 600px;
    margin: 100px;
    justify-items: center;
    align-items: center;
}

/*estilos de resume*/
.mainResume{
    background-color: #FDDADA;
}

main .resumeh1{
    height:50px;
    margin-left:50px;
    padding-top: 25px;
    font-size: 30px;
    color: #800050;
}

main .resumeh2{
    margin: 50px 50px 10px;
    font-size: 25px;
}

main .resumep{
    margin: 35px 50px;
    font-size: 20px;
}

/*estilos de contact*/
.mainContact{
    background-color: #FDDADA;
}

main .contacth1{
    margin:0px;
    height: 50px;
    margin-left: 50px;
    padding-top: 25px;
    font-size: 30px;
    color: #800050;
}

/* aplico flex */
.contenedorContactos{
    margin: 1px;
    height: 350px;
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.medioContacto{
    width: 230px;
    height: 230px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: Center;
    background-color: pink;
    border: 3px dotted #800050;
}

nav div .imgContacto{
    padding: 5px;
    margin: 30px;
}

main .contacth2{
    margin: 30px 50px;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

main .contactp{
    font-size: 16px;
    margin: 0;
}
